[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NCmisc"]
	path = NCmisc
	url = https://github.com/cran/NCmisc
[submodule "reader"]
	path = reader
	url = https://github.com/cran/reader
